openapi: 3.0.3
info:
  title: NASA EONET (Earth Observatory Natural Event Tracker)
  description: |
    Curated source of natural events occurring on Earth - wildfires, severe storms, volcanoes, sea/lake ice,
    drought, dust/haze, earthquakes, floods, landslides, manmade, snow, temperature extremes, and water color.
  version: '3.0'
  contact:
    name: NASA Earth Observatory
    url: https://eonet.gsfc.nasa.gov/docs/v3
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://eonet.gsfc.nasa.gov/api/v3
paths:
  /events:
    get:
      summary: Get Natural Events
      operationId: getEvents
      tags:
      - Events
      parameters:
      - name: source
        in: query
        description: Filter by source ID (comma-separated for multiple).
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - closed
          - all
      - name: limit
        in: query
        schema:
          type: integer
      - name: days
        in: query
        description: Limit to events within the last N days.
        schema:
          type: integer
      - name: start
        in: query
        schema:
          type: string
          format: date
      - name: end
        in: query
        schema:
          type: string
          format: date
      - name: magID
        in: query
        schema:
          type: string
      - name: magMin
        in: query
        schema:
          type: number
      - name: magMax
        in: query
        schema:
          type: number
      - name: bbox
        in: query
        description: Bounding box minlon,maxlat,maxlon,minlat.
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Collection of natural events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  link:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
  /categories:
    get:
      summary: Get Event Categories
      operationId: getCategories
      tags:
      - Categories
      responses:
        '200':
          description: List of EONET event categories.
  /categories/{category}:
    get:
      summary: Get Events for a Category
      operationId: getEventsByCategory
      tags:
      - Categories
      parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Events in the specified category.
  /sources:
    get:
      summary: Get Event Sources
      operationId: getSources
      tags:
      - Sources
      responses:
        '200':
          description: List of EONET event data sources.
  /layers:
    get:
      summary: Get Layers
      operationId: getLayers
      tags:
      - Layers
      responses:
        '200':
          description: List of map layers associated with EONET categories.
  /magnitudes:
    get:
      summary: Get Magnitude Definitions
      operationId: getMagnitudes
      tags:
      - Magnitudes
      responses:
        '200':
          description: Magnitude IDs and units defined by EONET.
