openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Weather API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Weather
paths:
  /:
    get:
      summary: Get InSight Mars Weather
      operationId: getInsightWeather
      tags:
      - Weather
      parameters:
      - name: ver
        in: query
        description: API version.
        schema:
          type: string
          default: '1.0'
      - name: feedtype
        in: query
        schema:
          type: string
          default: json
      - name: api_key
        in: query
        required: true
        schema:
          type: string
          default: DEMO_KEY
      responses:
        '200':
          description: Per-Sol weather summary for the most recent seven sols.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
