openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album TAP API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: TAP
paths:
  /sync:
    get:
      summary: Synchronous TAP Query
      operationId: tapSync
      tags:
      - TAP
      parameters:
      - name: query
        in: query
        required: true
        description: ADQL query string.
        schema:
          type: string
      - name: format
        in: query
        description: Response format.
        schema:
          type: string
          enum:
          - csv
          - votable
          - json
          - tsv
          - ipac
      - name: lang
        in: query
        schema:
          type: string
          default: ADQL
      responses:
        '200':
          description: Tabular query result in the requested format.
  /async:
    post:
      summary: Asynchronous TAP Query
      operationId: tapAsync
      tags:
      - TAP
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                query:
                  type: string
                format:
                  type: string
                lang:
                  type: string
      responses:
        '303':
          description: Redirect to job status endpoint.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
