openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Natural API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Natural
paths:
  /api/natural:
    get:
      summary: Get Most Recent Natural Color Images
      operationId: getNaturalRecent
      tags:
      - Natural
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Metadata for the most recent natural color EPIC images.
  /api/natural/date/{date}:
    get:
      summary: Get Natural Color Images by Date
      operationId: getNaturalByDate
      tags:
      - Natural
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Metadata for natural color EPIC images taken on the given date.
  /api/natural/available:
    get:
      summary: Get Available Natural Color Dates
      operationId: getNaturalAvailable
      tags:
      - Natural
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: List of dates for which natural color images are available.
  /api/natural/all:
    get:
      summary: Get All Natural Color Image Dates
      operationId: getNaturalAll
      tags:
      - Natural
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: All dates with natural color image counts.
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      schema:
        type: string
        default: DEMO_KEY
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
