openapi: 3.2.0
info:
  title: NASA SSD/CNEOS CAD API
  description: 'Solar System Dynamics (SSD) and Center for Near-Earth Object Studies (CNEOS) APIs at JPL. Provides

    authoritative orbital, physical, and risk data for small bodies including close approach data, small

    body database lookup and query, Sentry impact risk, Fireball atmospheric events, NHATS human-accessible

    targets, mission design, and scout.

    '
  version: '1.0'
  contact:
    name: JPL Solar System Dynamics
    url: https://ssd-api.jpl.nasa.gov/
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://ssd-api.jpl.nasa.gov
tags:
- name: CAD
paths:
  /cad.api:
    get:
      summary: Close Approach Data
      operationId: getCAD
      tags:
      - CAD
      parameters:
      - name: date-min
        in: query
        schema:
          type: string
      - name: date-max
        in: query
        schema:
          type: string
      - name: dist-min
        in: query
        schema:
          type: string
      - name: dist-max
        in: query
        schema:
          type: string
      - name: h-min
        in: query
        schema:
          type: number
      - name: h-max
        in: query
        schema:
          type: number
      - name: v-inf-min
        in: query
        schema:
          type: number
      - name: v-inf-max
        in: query
        schema:
          type: number
      - name: class
        in: query
        schema:
          type: string
      - name: pha
        in: query
        schema:
          type: boolean
      - name: nea
        in: query
        schema:
          type: boolean
      - name: comet
        in: query
        schema:
          type: boolean
      - name: nea-comet
        in: query
        schema:
          type: boolean
      - name: neo
        in: query
        schema:
          type: boolean
      - name: kind
        in: query
        schema:
          type: string
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: body
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: total-only
        in: query
        schema:
          type: boolean
      - name: diameter
        in: query
        schema:
          type: boolean
      - name: fullname
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Close approach data table.
