openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Asset API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Asset
paths:
  /asset/{nasa_id}:
    get:
      summary: Get Media Asset Manifest
      operationId: getAsset
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of asset file URLs (image variants, video renditions, captions).
  /metadata/{nasa_id}:
    get:
      summary: Get Media Asset Metadata
      operationId: getMetadata
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pointer to JSON metadata location for the asset.
  /captions/{nasa_id}:
    get:
      summary: Get Video Asset Captions Location
      operationId: getCaptions
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pointer to captions file (SRT/VTT) location for video assets.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
