openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Photos API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Photos
paths:
  /rovers/{rover}/photos:
    get:
      summary: Get Photos for a Rover
      operationId: getRoverPhotos
      tags:
      - Photos
      parameters:
      - name: rover
        in: path
        required: true
        schema:
          type: string
          enum:
          - curiosity
          - opportunity
          - spirit
          - perseverance
      - name: sol
        in: query
        description: Martian sol the photos were taken on. One of sol or earth_date is required.
        schema:
          type: integer
          minimum: 0
      - name: earth_date
        in: query
        description: Earth date the photos were taken on (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: camera
        in: query
        description: Filter by camera abbreviation.
        schema:
          type: string
          enum:
          - FHAZ
          - RHAZ
          - MAST
          - CHEMCAM
          - MAHLI
          - MARDI
          - NAVCAM
          - PANCAM
          - MINITES
      - name: page
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Photos taken on the requested sol/date.
  /rovers/{rover}/latest_photos:
    get:
      summary: Get Most Recent Photos for a Rover
      operationId: getRoverLatestPhotos
      tags:
      - Photos
      parameters:
      - name: rover
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Most recent photos returned by the rover.
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      schema:
        type: string
        default: DEMO_KEY
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
