openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album WMTS API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: WMTS
paths:
  /tiles/{body}/EQ/{layer}/1.0.0/default/default028mm/{z}/{y}/{x}.{ext}:
    get:
      summary: Get a Trek WMTS Tile
      operationId: getTrekTile
      tags:
      - WMTS
      parameters:
      - name: body
        in: path
        required: true
        schema:
          type: string
          enum:
          - Mars
          - Moon
          - Vesta
      - name: layer
        in: path
        required: true
        description: Layer identifier within the Trek body catalog.
        schema:
          type: string
      - name: z
        in: path
        required: true
        schema:
          type: integer
      - name: y
        in: path
        required: true
        schema:
          type: integer
      - name: x
        in: path
        required: true
        schema:
          type: integer
      - name: ext
        in: path
        required: true
        schema:
          type: string
          enum:
          - png
          - jpg
      responses:
        '200':
          description: A WMTS map tile.
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
