openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Events API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Events
paths:
  /events:
    get:
      summary: Get Natural Events
      operationId: getEvents
      tags:
      - Events
      parameters:
      - name: source
        in: query
        description: Filter by source ID (comma-separated for multiple).
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - closed
          - all
      - name: limit
        in: query
        schema:
          type: integer
      - name: days
        in: query
        description: Limit to events within the last N days.
        schema:
          type: integer
      - name: start
        in: query
        schema:
          type: string
          format: date
      - name: end
        in: query
        schema:
          type: string
          format: date
      - name: magID
        in: query
        schema:
          type: string
      - name: magMin
        in: query
        schema:
          type: number
      - name: magMax
        in: query
        schema:
          type: number
      - name: bbox
        in: query
        description: Bounding box minlon,maxlat,maxlon,minlat.
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Collection of natural events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  link:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
