openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Search API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Search
paths:
  /search:
    get:
      summary: Search GeneLab Datasets
      operationId: searchGeneLab
      tags:
      - Search
      parameters:
      - name: term
        in: query
        description: Free text search term.
        schema:
          type: string
      - name: type
        in: query
        description: Data type filter (e.g. cgene, expr, comp).
        schema:
          type: string
      - name: from
        in: query
        description: Result offset.
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results.
        schema:
          type: integer
      - name: ffield
        in: query
        description: Filter field.
        schema:
          type: string
      - name: fvalue
        in: query
        description: Filter value.
        schema:
          type: string
      responses:
        '200':
          description: GeneLab search results.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
