openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album SBDB API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: SBDB
paths:
  /sbdb.api:
    get:
      summary: Small Body Database Lookup
      operationId: sbdbLookup
      tags:
      - SBDB
      parameters:
      - name: sstr
        in: query
        schema:
          type: string
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: full-prec
        in: query
        schema:
          type: boolean
      - name: phys-par
        in: query
        schema:
          type: boolean
      - name: discovery
        in: query
        schema:
          type: boolean
      - name: ca-data
        in: query
        schema:
          type: boolean
      - name: virtual-impactor
        in: query
        schema:
          type: boolean
      - name: alt-spk
        in: query
        schema:
          type: boolean
      - name: alt-des
        in: query
        schema:
          type: boolean
      - name: alt-orbits
        in: query
        schema:
          type: boolean
      - name: r-notes
        in: query
        schema:
          type: boolean
      - name: r-observer
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Small body record.
  /sbdb_query.api:
    get:
      summary: Small Body Database Query
      operationId: sbdbQuery
      tags:
      - SBDB
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      - name: sb-kind
        in: query
        schema:
          type: string
      - name: sb-group
        in: query
        schema:
          type: string
      - name: sb-class
        in: query
        schema:
          type: string
      - name: sb-ns
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: full-prec
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Tabular SBDB query response.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
