openapi: 3.2.0
info:
  title: NASA Image and Video Library Asset API
  description: 'API for the NASA Image and Video Library at images.nasa.gov. Supports searching the library, retrieving

    asset manifests, metadata, captions, and resolving rich-text URLs.

    '
  version: '1.0'
  contact:
    name: NASA Image and Video Library
    url: https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://images-api.nasa.gov
tags:
- name: Asset
paths:
  /asset/{nasa_id}:
    get:
      summary: Get Media Asset Manifest
      operationId: getAsset
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of asset file URLs (image variants, video renditions, captions).
  /metadata/{nasa_id}:
    get:
      summary: Get Media Asset Metadata
      operationId: getMetadata
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pointer to JSON metadata location for the asset.
  /captions/{nasa_id}:
    get:
      summary: Get Video Asset Captions Location
      operationId: getCaptions
      tags:
      - Asset
      parameters:
      - name: nasa_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pointer to captions file (SRT/VTT) location for video assets.
