openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Fireball API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Fireball
paths:
  /fireball.api:
    get:
      summary: Fireball Atmospheric Impact Events
      operationId: fireball
      tags:
      - Fireball
      parameters:
      - name: date-min
        in: query
        schema:
          type: string
      - name: date-max
        in: query
        schema:
          type: string
      - name: energy-min
        in: query
        schema:
          type: number
      - name: impact-e-min
        in: query
        schema:
          type: number
      - name: vel-min
        in: query
        schema:
          type: number
      - name: vel-max
        in: query
        schema:
          type: number
      - name: alt-min
        in: query
        schema:
          type: number
      - name: alt-max
        in: query
        schema:
          type: number
      - name: req-loc
        in: query
        schema:
          type: boolean
      - name: req-alt
        in: query
        schema:
          type: boolean
      - name: req-vel
        in: query
        schema:
          type: boolean
      - name: req-vel-comp
        in: query
        schema:
          type: boolean
      - name: vel-comp
        in: query
        schema:
          type: boolean
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Fireball events table.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
