openapi: 3.2.0
info:
  title: Nasa Gov Search API
  version: '1.0'
  license:
    name: US Government Work (Public Domain)
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: genelab-openapi.yml, image-video-library-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://genelab-data.ndc.nasa.gov/genelab/data
- url: https://images-api.nasa.gov
tags:
- name: Search
paths:
  /search:
    get:
      summary: Search GeneLab Datasets
      operationId: searchGeneLab
      tags:
      - Search
      parameters:
      - name: term
        in: query
        description: Free text search term.
        schema:
          type: string
      - name: type
        in: query
        description: Data type filter (e.g. cgene, expr, comp).
        schema:
          type: string
      - name: from
        in: query
        description: Result offset.
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results.
        schema:
          type: integer
      - name: ffield
        in: query
        description: Filter field.
        schema:
          type: string
      - name: fvalue
        in: query
        description: Filter value.
        schema:
          type: string
      responses:
        '200':
          description: GeneLab search results.
    servers:
    - url: https://genelab-data.ndc.nasa.gov/genelab/data
x-refined-from:
- genelab-openapi.yml
- image-video-library-openapi.yml
