openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album Patents API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: Patents
paths:
  /patent:
    get:
      summary: Search NASA Patents
      operationId: searchPatents
      tags:
      - Patents
      parameters:
      - name: patent
        in: query
        description: Search term to match against patent metadata.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching patent records.
  /patent/issued:
    get:
      summary: Search Issued NASA Patents
      operationId: searchIssuedPatents
      tags:
      - Patents
      parameters:
      - name: patent_issued
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching issued patent records.
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      schema:
        type: string
        default: DEMO_KEY
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
