openapi: 3.0.3
info:
  title: NASA Astronomy Picture of the Day (APOD) Album TLE API
  description: 'One of the most popular NASA websites, exposed as a JSON API. Returns the Astronomy Picture of the Day with

    title, explanation, image URL, HD URL, optional copyright, and media type. Supports single date, date ranges,

    random counts, and video thumbnails.

    '
  version: '1.0'
  contact:
    name: NASA Open APIs
    url: https://api.nasa.gov/
  license:
    name: US Government Work (Public Domain)
    url: https://www.nasa.gov/multimedia/guidelines/index.html
servers:
- url: https://api.nasa.gov
  description: NASA Open API gateway via api.data.gov
security:
- ApiKeyAuth: []
tags:
- name: TLE
paths:
  /tle:
    get:
      summary: List TLE Records
      operationId: listTle
      tags:
      - TLE
      parameters:
      - name: search
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - id
          - name
          - popularity
          - -id
          - -name
          - -popularity
      - name: sort-dir
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: page-size
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paged list of TLE records.
  /tle/{satelliteId}:
    get:
      summary: Get TLE by Satellite ID
      operationId: getTle
      tags:
      - TLE
      parameters:
      - name: satelliteId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: TLE record with line1 and line2.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
