openapi: 3.0.3
info:
  title: NASA Satellite Situation Center (SSC) Web Services
  description: |
    System to cast geocentric spacecraft location information into a framework of (empirical) geophysical
    regions and mappings of point locations along the spacecraft trajectory to/from locations of interest
    (e.g. magnetic conjunctions, IMF mappings).
  version: '2.0'
  contact:
    name: Satellite Situation Center
    url: https://sscweb.gsfc.nasa.gov/WebServices/REST/
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://sscweb.gsfc.nasa.gov/WS/sscr/2
paths:
  /observatories:
    get:
      summary: List Observatories
      operationId: listObservatories
      tags:
      - Observatories
      responses:
        '200':
          description: List of available observatories (spacecraft).
  /groundStations:
    get:
      summary: List Ground Stations
      operationId: listGroundStations
      tags:
      - Stations
      responses:
        '200':
          description: List of ground stations.
  /locations:
    get:
      summary: Get Spacecraft Locations
      operationId: getLocations
      tags:
      - Locations
      parameters:
      - name: observatories
        in: query
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: string
      - name: endTime
        in: query
        schema:
          type: string
      - name: coords
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Spacecraft coordinate locations across the requested time range.
