openapi: 3.0.3
info:
  title: NASA SSD/CNEOS API
  description: |
    Solar System Dynamics (SSD) and Center for Near-Earth Object Studies (CNEOS) APIs at JPL. Provides
    authoritative orbital, physical, and risk data for small bodies including close approach data, small
    body database lookup and query, Sentry impact risk, Fireball atmospheric events, NHATS human-accessible
    targets, mission design, and scout.
  version: '1.0'
  contact:
    name: JPL Solar System Dynamics
    url: https://ssd-api.jpl.nasa.gov/
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://ssd-api.jpl.nasa.gov
paths:
  /cad.api:
    get:
      summary: Close Approach Data
      operationId: getCAD
      tags:
      - CAD
      parameters:
      - name: date-min
        in: query
        schema:
          type: string
      - name: date-max
        in: query
        schema:
          type: string
      - name: dist-min
        in: query
        schema:
          type: string
      - name: dist-max
        in: query
        schema:
          type: string
      - name: h-min
        in: query
        schema:
          type: number
      - name: h-max
        in: query
        schema:
          type: number
      - name: v-inf-min
        in: query
        schema:
          type: number
      - name: v-inf-max
        in: query
        schema:
          type: number
      - name: class
        in: query
        schema:
          type: string
      - name: pha
        in: query
        schema:
          type: boolean
      - name: nea
        in: query
        schema:
          type: boolean
      - name: comet
        in: query
        schema:
          type: boolean
      - name: nea-comet
        in: query
        schema:
          type: boolean
      - name: neo
        in: query
        schema:
          type: boolean
      - name: kind
        in: query
        schema:
          type: string
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: body
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: total-only
        in: query
        schema:
          type: boolean
      - name: diameter
        in: query
        schema:
          type: boolean
      - name: fullname
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Close approach data table.
  /sbdb.api:
    get:
      summary: Small Body Database Lookup
      operationId: sbdbLookup
      tags:
      - SBDB
      parameters:
      - name: sstr
        in: query
        schema:
          type: string
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: full-prec
        in: query
        schema:
          type: boolean
      - name: phys-par
        in: query
        schema:
          type: boolean
      - name: discovery
        in: query
        schema:
          type: boolean
      - name: ca-data
        in: query
        schema:
          type: boolean
      - name: virtual-impactor
        in: query
        schema:
          type: boolean
      - name: alt-spk
        in: query
        schema:
          type: boolean
      - name: alt-des
        in: query
        schema:
          type: boolean
      - name: alt-orbits
        in: query
        schema:
          type: boolean
      - name: r-notes
        in: query
        schema:
          type: boolean
      - name: r-observer
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Small body record.
  /sbdb_query.api:
    get:
      summary: Small Body Database Query
      operationId: sbdbQuery
      tags:
      - SBDB
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      - name: sb-kind
        in: query
        schema:
          type: string
      - name: sb-group
        in: query
        schema:
          type: string
      - name: sb-class
        in: query
        schema:
          type: string
      - name: sb-ns
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: full-prec
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Tabular SBDB query response.
  /sentry.api:
    get:
      summary: Sentry Impact Risk
      operationId: sentry
      tags:
      - Sentry
      parameters:
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: h-max
        in: query
        schema:
          type: number
      - name: ps-min
        in: query
        schema:
          type: number
      - name: ip-min
        in: query
        schema:
          type: number
      - name: removed
        in: query
        schema:
          type: boolean
      - name: all
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Sentry impact risk table.
  /fireball.api:
    get:
      summary: Fireball Atmospheric Impact Events
      operationId: fireball
      tags:
      - Fireball
      parameters:
      - name: date-min
        in: query
        schema:
          type: string
      - name: date-max
        in: query
        schema:
          type: string
      - name: energy-min
        in: query
        schema:
          type: number
      - name: impact-e-min
        in: query
        schema:
          type: number
      - name: vel-min
        in: query
        schema:
          type: number
      - name: vel-max
        in: query
        schema:
          type: number
      - name: alt-min
        in: query
        schema:
          type: number
      - name: alt-max
        in: query
        schema:
          type: number
      - name: req-loc
        in: query
        schema:
          type: boolean
      - name: req-alt
        in: query
        schema:
          type: boolean
      - name: req-vel
        in: query
        schema:
          type: boolean
      - name: req-vel-comp
        in: query
        schema:
          type: boolean
      - name: vel-comp
        in: query
        schema:
          type: boolean
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Fireball events table.
  /nhats.api:
    get:
      summary: NHATS - Human-Accessible Target Asteroids
      operationId: nhats
      tags:
      - NHATS
      parameters:
      - name: spk
        in: query
        schema:
          type: string
      - name: des
        in: query
        schema:
          type: string
      - name: dv
        in: query
        schema:
          type: number
      - name: dur
        in: query
        schema:
          type: integer
      - name: stay
        in: query
        schema:
          type: integer
      - name: launch
        in: query
        schema:
          type: string
      - name: h
        in: query
        schema:
          type: number
      - name: occ
        in: query
        schema:
          type: integer
      - name: plot
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: NHATS summary or single-object detail.
  /scout.api:
    get:
      summary: Scout - Near-Real-Time NEO Confirmation
      operationId: scout
      tags:
      - Scout
      parameters:
      - name: tdes
        in: query
        schema:
          type: string
      - name: orbits
        in: query
        schema:
          type: boolean
      - name: n-orbits
        in: query
        schema:
          type: integer
      - name: eph-start
        in: query
        schema:
          type: string
      - name: eph-stop
        in: query
        schema:
          type: string
      - name: eph-step
        in: query
        schema:
          type: string
      - name: obs-code
        in: query
        schema:
          type: string
      - name: fov-diam
        in: query
        schema:
          type: number
      - name: fov-ra
        in: query
        schema:
          type: string
      - name: fov-dec
        in: query
        schema:
          type: string
      - name: fov-vmag
        in: query
        schema:
          type: number
      - name: plot
        in: query
        schema:
          type: boolean
      - name: file
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Scout summary or per-object detail.
