openapi: 3.0.3
info:
  title: NASA TechTransfer API
  description: |
    Structured, searchable developer access to NASA's patents, software, and Spinoff publications. Patents are
    part of the NASA Technology Transfer Program with the goal of bringing NASA technology down to Earth.
  version: '1.0'
  contact:
    name: NASA Technology Transfer
    url: https://technology.nasa.gov/
  license:
    name: US Government Work (Public Domain)
servers:
- url: https://api.nasa.gov/techtransfer
security:
- ApiKeyAuth: []
paths:
  /patent:
    get:
      summary: Search NASA Patents
      operationId: searchPatents
      tags:
      - Patents
      parameters:
      - name: patent
        in: query
        description: Search term to match against patent metadata.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching patent records.
  /patent/issued:
    get:
      summary: Search Issued NASA Patents
      operationId: searchIssuedPatents
      tags:
      - Patents
      parameters:
      - name: patent_issued
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching issued patent records.
  /software:
    get:
      summary: Search NASA Software
      operationId: searchSoftware
      tags:
      - Software
      parameters:
      - name: software
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching software records.
  /spinoff:
    get:
      summary: Search NASA Spinoff Publications
      operationId: searchSpinoff
      tags:
      - Spinoff
      parameters:
      - name: Spinoff
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Matching spinoff publication records.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      schema:
        type: string
        default: DEMO_KEY
